<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- 引入式集合注入 -->
    <util:properties id="db" location="classpath:config/db/db.properties"/>
    <!--基本参数注入-->
    <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="url" value="#{db.url}"/>
        <property name="driverClassName" value="#{db.driver}"/>
        <property name="username" value="#{db.username}"/>
        <property name="password" value="#{db.password}"/>
    </bean>
    <bean id="m1" class="com.hebut.ioc.param.collect.MessageBean">
        <!--基本参数注入 -->
        <property name="moduleName" >
            <value>登录模块</value>
        </property>
        <property name="pageSize" >
            <value>10</value>
        </property>
        <property name="username" >
            <value>root</value>
        </property>
        <property name="password" >
            <value>123456</value>
        </property>
<!--        &lt;!&ndash;直接式List注入 &ndash;&gt;
        <property name="someList">
            <list>
                <value>北京</value>
                <value>上海</value>
                <value>广州</value>
            </list>
        </property> -->
        <!--引入式List注入 -->
        <property name="someList">
            <util:list list-class="java.util.LinkedList">
                <value>北京</value>
                <value>上海</value>
                <value>广州</value>
            </util:list>
        </property>
        <property name="someSet">
            <set>
                <value>Jack chen</value>
                <value>Martin lu</value>
                <value>Luffy Do</value>
            </set>
        </property>
        <property name="someMap">
            <map>
                <entry key="1001" value="EJB"></entry>
                <entry key="1002" value="Struct"></entry>
                <entry key="1003" value="Spring"></entry>
            </map>
        </property>
        <property name="someProps">
            <props>
                <prop key="username">root</prop>
                <prop key="password">123</prop>
            </props>
        </property>
    </bean>
</beans>