<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>RequestServlet</servlet-name>
		<servlet-class>web.RequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DateServlet</servlet-name>
		<servlet-class>web.DateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DateServlet</servlet-name>
		<url-pattern>/date</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>a3</servlet-name>
		<jsp-file>/a3.jsp</jsp-file>
		<init-param>
			<param-name>company</param-name>
			<param-value>hebut</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>a3</servlet-name>
		<url-pattern>/abc.html</url-pattern>
	</servlet-mapping>
</web-app>
